html, body {
	width: 35em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

strong {
  color: red;
}

button {
  margin: 0.2em 0.2em 0.5em 0;
}
.bodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
}
.popupbox {
	border: thick ridge #00CCFF;
	padding: 10pt;
	background-color: #DBFFFF;
}
.dialogbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bold;
}
